@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error">404 error!</h1>
    <h2 class="error">Page is not found. Try again.</h2>

</hgroup>