@{
    ViewBag.Title = "About";
}
<div>
    <h1 class="text-center text-succsess">Knowledge control System</h1>

    <div class="container text-center">
        <div class="container-fluid">
            <h2 class="text-success text-left">Control of knowledge</h2>
            <p>
                Control of knowledge - this is a test of knowledge of the party providing their assessment only on the results of his abilities.
                Max takes into account individual characteristics of participants.
                Monitoring should be objective, demanding, without noticeable distortion of the true picture of knowledge.
            </p>
        </div>
        <div class="container-fluid">
            <h2 class="text-success text-left">Online testing</h2>
            <p>
                Online tests each year are becoming more popular, and this is no accident. Developed by professional psychologists,
                they are able to give people the answers to many questions. Testing to determine the nature and characteristics of mental activity, teamwork and compromise.
                Today, perhaps, there is no corner of the human soul, which can not explore with the help of special tests! Outstanding free time?
                Do you want to with interest to spend time and learn something useful about themselves and their loved ones? Then free online tests are collected on our site -
                it's exactly what you need! We carefully chose the most reliable and efficient methods of investigation of the human person, which allows almost 100% accuracy the intellectual capacity,
                the degree of erudition, communicability, ability to find a way out in unusual situations and much more. Tests Online - a simple but at the same time a very useful form of entertainment.
                We offer you a simple, easy test versions with a choice of one of several response options. Passing this test the power of even a child,
                and not guaranteed to not cause you trouble: just click on the appropriate line and go to the next question! The results of our tests always are advisory in nature. Softly and gently,
                they urge people to think about any problems (if any), promotes self-analysis and identification of negative character traits that a person wants to change, to become happier.
                Go online test many prefer to brighten up your leisure time to learn about yourself something new. Most often, they do not want to find out their strengths and weaknesses,
                but because the results are for the people as a complete surprise. Unexpectedly, capable of causing vivid emotions - from anger to joy. But whatever the sense of the passage of the test,
                they contribute to securing the information in memory and, as a consequence, its analysis. Passing tests free, people do not always really want to know the truth about their behavior or character.
                That is why often the test results carefully denied that it is in vain. Test results can be a guide to action - change yourself for the better, the creation of strong relationships,
                knowledge of self and others, the arrangement of family life and improving their abilities.
            </p>
        </div>
    </div>
</div>